# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
.gradletasknamecache

# Spring Boot
*.log
*.gz

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# Maven
target/

# Environment
.env
application-local.properties

# OS
.DS_Store
Thumbs.db

# Compiled class files
*.class
bin/